@import url("vars.css");
@import url("text.css");

html {
    background-color: var(--bkg-clr);
}

main {
    background-color: var(--surface);
    width: 40vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--padding);
    padding-bottom: 50px;
    border: var(--border) solid var(--bdr-clr);
    border-radius: var(--border-rds);
    box-shadow: var(--border) var(--border) var(--border) var(--bdr-clr);
}

hr {
    width: var(--width);
}

button, input {
    background-color: var(--button);
    border: none;
    padding: 8px;
    border-radius: var(--border-rds);
    box-shadow: var(--button-wdh) var(--button-wdh) var(--button-wdh) var(--accent);
}

button:hover {
    cursor: pointer;
}

img {
    max-width: 10vh;
}
