@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

html {
    color: var(--txt-clr);
    text-align: center;
    font-family: "Google Sans", sans-serif;
    font-size: var(--txt-size);
    font-size: 1.1rem !important;
}

button {color: var(--txt-clr); font-size: var(--txt-size)}
button:hover {font-size: 0.95rem;}
input {color: var(--txt-clr);}
